<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hokwang.dao.DiagMapper">
	<select id="getResvList" resultType="map">
		SELECT R.RESV_NO,
		R.RESV_DATE || ' ' || R.RESV_TIME AS RESV_DATETIME,
		B.BABY_NAME,
		B.BABY_REGNO1, R.RESV_STATUS,
		B.BABY_NO
		FROM RESERVATION R, BABY B
		WHERE R.BABY_NO = B.BABY_NO
		AND TO_CHAR(R.RESV_DATE, 'YYYY-MM-DD') = TO_CHAR(SYSDATE,
		'YYYY-MM-DD')
		AND R.RESV_STATUS != 'Y'
		ORDER BY RESV_NO,RESV_DATE
	</select>

	<select id="getResvHistList" resultType="DiagnosisVO"
		parameterType="BabyVO">
		SELECT * FROM DIAGNOSIS
		<where>
			<if test="baby_no != null and baby_no != ''">
				RESV_NO IN (SELECT RESV_NO FROM RESERVATION WHERE BABY_NO = #{baby_no})
			</if>
		</where>
		ORDER BY DIAG_NO
	</select>

	<select id="getInfoList" resultType="map">
		SELECT B.*, P.* FROM BABY B, PARENT P
		WHERE B.PARENT_NO = P.PARENT_NO
		<if test="baby_no != null and baby_no != ''">
			AND BABY_NO = #{baby_no}
		</if>
	</select>

	<select id="getUniqInfo" resultType="map"
		parameterType="reservation">
		SELECT * FROM RESERVATION
		<where>
			<if test="resv_no != null and resv_no != ''">
				RESV_NO = #{resv_no}
			</if>
		</where>
	</select>
	<select id="getBodyList" parameterType="BodyVO"
	resultType="BodyVO">
	SELECT * 
	FROM 
	BODYINFO 
	WHERE BABY_NO = #{baby_no}
	</select>
	
	<select id="getDiagDetail" resultType="DiagnosisVO">
	SELECT * FROM DIAGNOSIS WHERE DIAG_NO = #{diag_no}
	</select>
	
	<select id="getDiagDetail2" resultType="map"
		parameterType="DiagnosisVO">
		SELECT B.DIS_NAME 
		FROM DIAGNOSIS A , DISEASE B
		<where>
			(A.DIS_CODE=B.DIS_CODE) AND DIAG_NO = #{diag_no}
		</where>
	</select>
	
	<select id="getMedicine" resultType="map"
		parameterType="PrescriptionVO">
		SELECT P.*, M.*
		FROM PRESCRIPTION P, MEDICINE M
		WHERE P.MEDI_NO = M.MEDI_NO
		<if test="diag_no != null and diag_no != ''">
			AND DIAG_NO = #{diag_no}
		</if>
	</select>
	
	<select id="getDisease" resultType="map"
	parameterType="DiesSearch">
	SELECT * FROM DISEASE
	<where>
		<if test="searchDisease !=null and searchDisease != ''">
		 DIS_NAME LIKE '%'||#{searchDisease}||'%'
		 </if>
	</where>
	</select>
	
	<select id="schMedicine" resultType="map"
	parameterType="DiesSearch">
	SELECT * FROM MEDICINE
		<where>
			<if test="searchMedicine !=null and searchMedicine !=''">
				MEDI_NAME LIKE '%'||#{searchMedicine}||'%'
			</if>
		</where>	
	</select>
	
	<select id="getMedineList" resultType="map"
	parameterType="MedicineVO">
	SELECT * FROM MEDICINE
	</select>
	
	
 <!-- 	<insert id="insertDiag" parameterType="DiagnosisVO">
		<selectKey order="BEFORE" keyProperty="diag_no" resultType="String">
			SELECT NVL(MAX(DIAG_NO),0)+1 FROM DIAGNOSIS
		</selectKey>
		INSERT INTO DIAGNOSIS(diag_no,
							  diag_time,
							  diag_memo,
	
		)
	</insert>  -->
	<!-- <insert id="insertDiag" parameterType="DiagnosisVO">
		<selectKey order="BEFORE" keyProperty="diag_no" resultType="String">
			SELECT NVL(MAX(DIAG_NO),0)+1 FROM DIAGNOSIS
		</selectKey>
		INSERT INTO DIAGNOSIS(diag_no,
							  diag_time,
							  diag_memo,
	
		)
	</insert>
	 -->
	<!-- <insert id="insertDiag2" parameterType="PrescriptionVO">
		<selectKey order="BEFORE" keyProperty="pres_no" resultType="String">
			SELECT NVL(MAX(PRES_NO),0)+1 FROM PRESCRIPTION
		</selectKey>
		INSERT INTO DIAGNOSIS(pres_no,
							  pres_acount,
							  pres_account,
							  pres_total,
							  pres_date,
		 
		
		)
	</insert> -->
</mapper>