<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hokwang.dao.PatientMapper">

	<select id="allpatientList" resultType="babyVO"
		parameterType="babyVO">
		select * from baby
		<where>
			<if test="baby_no != null and baby_no != ''">
				baby_no = #{baby_no}
			</if>
		</where>
		order by baby_no
	</select>


	<select id="diagnosisRecord" resultType="diagnosisVO"
		parameterType="babyVO">
		select * from diagnosis
		<where>
			<if test="baby_no != null and baby_no != ''">
				resv_no in (select resv_no from reservation where baby_no
				= #{baby_no})
			</if>
		</where>
		order by diag_no
	</select>

	<select id="patientInfo" resultType="map" parameterType="babyVO">
		SELECT B.*, P.* FROM BABY B, PARENT P
		WHERE B.PARENT_NO = P.PARENT_NO
		<if test="baby_no != null and baby_no != ''">
			AND BABY_NO=#{baby_no}
		</if>
	</select>

	<select id="mediName" resultType="map"
		parameterType="prescriptionVO">
		select medi_name from medicine
		<where>
			MEDI_NO in (select medi_no from
			prescription where diag_no =
			#{diag_no})
		</where>
	</select>

	<select id="diagDetail1" resultType="map"
		parameterType="diagnosisVO">
		select b.dis_name from diagnosis a,disease b
		<where>
			(a.dis_code=b.dis_code) and diag_no=#{diag_no}
		</where>
	</select>

	<select id="diagDetail2" resultType="map"
		parameterType="diagnosisVO">
		select a.diaglist_memo from diagnosis a,disease b
		<where>
			(a.dis_code=b.dis_code) and diag_no=#{diag_no}
		</where>
	</select>

	<select id="bodyInfo" resultType="bodyVO">
		SELECT MAX(body_height) KEEP(DENSE_RANK FIRST ORDER BY
		TO_CHAR(body_date, 'YYYY-MM') DESC) AS body_height
		, MAX(body_weight)
		AS body_weight
		, MAX(body_date) AS body_date
		FROM
		BODYINFO
		<where>
			baby_no = #{baby_no} and TO_CHAR(body_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY')
		</where>
		GROUP BY TO_CHAR(body_date, 'YYYY-MM')
		ORDER BY body_date ASC
	</select>
</mapper>