<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- sale_mapper.xml -->
<mapper namespace="com.hokwang.dao.SaleMapper">
	<select id="getDaySales" resultType="integer">
		select sum(pay_price) from payment where pay_date = TO_CHAR(SYSDATE,'YY/MM/DD')
	</select>

	<select id="getMonthSales" resultType="integer">
		select sum(pay_price) from payment where TO_CHAR(pay_date,'YY/MM') = TO_CHAR(SYSDATE,'YY/MM')
	</select>

	<select id="getYearSales" resultType="integer">
		select sum(pay_price) from payment where TO_CHAR(pay_date,'YY') = TO_CHAR(SYSDATE,'YY')
	</select>

	<select id="getCountResv" resultType="integer">
		select count(resv_no) from reservation where resv_date = TO_CHAR(SYSDATE,'YY/MM/DD')
	</select>


</mapper>
